! special
*.foreground:   #787878
*.background:   #f5f5f5
*.cursorColor:  #787878

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

XTerm*faceName: Dina
XTerm*faceSize: 10
XTerm*renderFont: true

!!-------------------------------
!! 2bwm config
!!-------------------------------
twobwm.border_width: 2
twobwm.outer_border: 2
twobwm.focus_color: #9da59e
twobwm.unfocus_color: #9da59e
twobwm.fixed_color: #ffffff
twobwm.unkill_color: #ffffff
twobwm.outer_border_color: #9da59e
twobwm.fixed_unkill_color: #ffffff
twobwm.inverted_colors: false
twobwm.enable_compton: false

